<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>契絆想解詩</title>
  </head>
  <body>
    <section>
      <header>
        <h1>契絆想解詩</h1>
      </header>

      <section>
        <h1>Introduction</h1>

        <dl>
          <dt>Hiragana</dt>
          <dd>けいはんそうかいし</dd>

          <dt>Romanized</dt>
          <dd>Keihansoukaishi</dd>

          <dt>Localized</dt>
          <dd>Emotional Song Pact</dd>

          <dt>Abbreviated</dt>
          <dd>Keihan</dd>
        </dl>

        <p>
          Keihan is a constructed language from the Surge Concerto video game series
          made by GUST.  It is fairly complex; what follows are some of my notes on the
          language.
        </p>
      </section>

      <section>
        <h1>Resources</h1>

        <p>A lot of information can be found in officially released materials and other
          pages:</p>

        <ul>
          <li><a href="http://www.genomirai.com/WorldSettingDocument/language/">
              Official Keihan generator
          </a></li>
          <li><a href="http://www.genomirai.com/WorldSettingDocument/index.php?%25E5%25A5%2591%25E7%25B5%2586%25E6%2583%25B3%25E7%2595%258C%25E8%25A9%25A9">
              Official Keihan World Setting page
          </a></li>
          <li><a href="http://artonelico.wikia.com/wiki/Emotional_Song_Pact">
              EXA_PICO page (English translation)
          </a></li>
        </ul>
      </section>

      <section>
        <h1>Writing</h1>

        <p>Since there does not exist a detailed description of Keihan's writing system
          at this time, I have done some research and written one here.</p>

        <p>Note that some of this information was derived experimentally and might be
          inaccurate.  Please send me any contradictions you find.</p>

        <section>
          <h1>Characters</h1>

          <p>Keihan possesses a straightforward set of alphabet and punctuation
            characters.  Keihan may seem like a substitution of the Latin alphabet on the
            surface, but that illusion shall disappear shortly.</p>

          <p>Here is the alphabet:</p>

          <figure>
            <img src="img/alphabet.jpg" alt="The Keihan alphabet, from A to Z.">
          </figure>

          <p>There is no distinction between upper or lower case.</p>

          <p>Here are the punctuation characters:</p>

          <figure>
            <img src="img/punctuation.jpg" alt="Keihan punctuation marks..">
          </figure>

          <p>Ignore the leading <code>a</code> characters; they are there to force the official
            character generator to render the punctuation.</p>

          <p>From left to right, they are <code>;</code>, <code>?</code>, <code>!</code>,
            and <code>=</code>.  The semicolon is Keihan's sentence terminator; it
            functions like a period.  The reason it is a semicolon may be related to the
            strong computer themes in Surge Concerto (this is obvious in the other
            language in the series, REON-4213).  The equal sign is used as a topic or
            subject marker.  The question mark and exclamation mark function like they do
            in English.</p>

          <p>Keihan's numeric system is hexadecimal (again showing the computer theme):</p>


          <figure>
            <img src="img/numbers.jpg" alt="Keihan digits, from 0 to F and including the decimal point.">
          </figure>
        </section>

        <section>
          <h1>Clusters</h1>

          <p>While the characters shown above are used for loanwords, they are never used
            alone in Keihan itself.  Instead, they are combined into clusters consisting
            of two, three, or four characters each.</p>

          <section>
            <h1>Forms</h1>

            <p>Clusters come in seven different forms.</p>

            <p>Clusters of two characters (2-clusters) have two possible forms.</p>

            <dl>
              <dt>Form A</dt>
              <dd>First at right, second at left.</dd>

              <dt>Form B</dt>
              <dd>First at bottom, second at top.</dd>
            </dl>

            <figure>
              <img src="img/2-cluster.jpg" alt="Keihan cluster forms A and B.">
            </figure>

            <p>Clusters of three characters (3-clusters) have three possible forms.</p>

            <dl>
              <dt>Form C</dt>
              <dd>First at top right, second at bottom right, third at left</dd>

              <dt>Form D</dt>
              <dd>First at bottom right, second at bottom left, third at top</dd>

              <dt>Form E</dt>
              <dd>First at bottom, second at middle, third at top</dd>
            </dl>

            <figure>
              <img src="img/3-cluster.jpg" alt="Keihan cluster forms C, D, and E.">
            </figure>

            Clusters of four characters (4-clusters) have two possible forms.

            <dl>
              <dt>Form F</dt>
              <dd>First at bottom right, second at bottom middle, third at bottom left, forth at top</dd>

              <dt>Form G</dt>
              <dd>First at bottom, second at middle right, third at middle left, fourth at top</dd>
            </dl>

            <figure>
              <img src="img/4-cluster.jpg" alt="Keihan cluster forms F and G.">
            </figure>
          </section>

          <section>
            <h1>Rules</h1>

            <p>The rules for forming clusters is fairly complex.  Using the table below,
              find the letter in the cluster with the highest priority and use the form
              indicated by that letter.</p>

            <p>These rules were determined experimentally from the official Keihan generator,
              so they might be incorrect or sub-optimal.</p>

            <figure>
              <table>
                <colgroup span="1"></colgroup>
                <colgroup span="2"></colgroup>
                <colgroup span="2"></colgroup>
                <colgroup span="2"></colgroup>
                <thead>
                  <tr>
                    <th>Letter</th>
                    <th colspan="2">2-cluster</th>
                    <th colspan="2">3-cluster</th>
                    <th colspan="2">4-cluster</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>Form</th>
                    <th>Priority</th>
                    <th>Form</th>
                    <th>Priority</th>
                    <th>Form</th>
                    <th>Priority</th>
                  </tr>
                </thead>
                {% for row in clusters %}
                <tr>{% for x in row %}<td>{{ x }}</td>{% endfor %}</tr>
                {% endfor %}
              </table>
            </figure>
          </section>

          <section>
            <h1>Mutations</h1>

            <p>In addition to forming clusters, each letter in Keihan also mutates according
              to its position in a cluster.</p>

            <p>There are nine different mutations.</p>

            <dl>
              <dt>Pure</dt>
              <dd>Base form of character when not in a cluster.</dd>

              <dt>Vertical-0</dt>
              <dd>Used for the right character in form A.</dd>

              <dt>Horizontal-0</dt>
              <dd>Used for the bottom character in form B.</dd>

              <dt>Vertical-1</dt>
              <dd>Used for the left character in forms A and C.</dd>

              <dt>Horizontal-1</dt>
              <dd>Used for the top character in forms B, D, and F, and for the horizontal
                characters in forms E and G.</dd>

              <dt>Horizontal-2</dt>
              <dd>Used for the right characters in form C.</dd>

              <dt>Vertical-2</dt>
              <dd>Used for the bottom characters in form D.</dd>

              <dt>Vertical-3</dt>
              <dd>Used for the bottom characters in form F.</dd>

              <dt>Horizontal-3</dt>
              <dd>Used for the middle characters in form G.</dd>
            </dl>

            <p>Here are all of the mutations for all letters:</p>

            <figure>
              <img src="img/mutation-all.jpg" alt="Chart showing all Keihan letter mutations.">
            </figure>
          </section>
        </section>
      </section>
  </body>
</html>
